/* styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Garantir que o conteúdo fique centralizado verticalmente */
    background: url('midias/background-vida-em-alerta-mobile.png') no-repeat center center fixed; /* Adiciona a imagem de fundo */
    background-size: cover; /* Garante que a imagem cubra toda a área */
    height: 100vh;
    overflow-x: hidden;
}

header {
    width: 100%;
    max-width: 400px;
    /*background-color: #fff;*/
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

header .material-symbols-outlined {
    cursor: pointer;
}

.sidenav {
    display: none; /* Oculta o menu lateral por padrão */
}

.sidenav ul {
    list-style: none;
    padding: 0;
}

.sidenav ul li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.sidenav ul li a {
    text-decoration: none;
    color: #333;
}

main {
    width: 100%;
    max-width: 400px;
    /*background-color: #fff;*/
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

main header {
    text-align: center;
}

main header img {
    max-width: 100%;
    height: auto;
}

main p {
    text-align: center;
}

main .btn a {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

footer {
    width: 100%;
    max-width: 400px;
    /*background-color: #fff;*/
    padding: 10px;
    text-align: center;
    border-top: 1px solid #ccc;
    margin-top: auto;
}

footer p {
    font-size: 0.8em;
    color: #666;
}

